* {
    font-family: "JetBrains Mono", monospace;
}

*::selection {
    background: none;
}

#solver-container {
    display: flex;
    font-size: 14px;
}

#solver-container>* { flex-basis: 1px; flex-grow: 1; padding: 8px; }

#constraints-container {
    width: fit-content;
}

#constraints-display {
    margin: -1px;
}

#constraints-container>h3:first-child {
    margin-bottom: 5px;
}

#guess-input {
    border: 1px solid black;
    width: 208px;
    margin: 0 0 3px 0;
    font-size: 14px;
    padding: 1px;
}

.constraint {
    font-size: 0;
    display: flex;
    align-items: center;
}

.wordle-letter {
    font-size:       20px;
    width:           24px;
    height:          24px;
    margin:          1px;
    border-radius: 4px;
}

#output {
    height: 100vh;
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    overflow-y: auto;
    border-left: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#output-words {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#output-words>span {
    padding: 2px 4px;
}

#output-words>span.common {
    outline: 1px solid black;
    outline-offset: -2px;
}

.letter-query {
    margin: 3px 0;
    display: flex;
    align-items: center;
}

.letter-query>span {
    background: #08f;
    color: white;
    padding: 3px 10px;
    border-radius: 20px;
    margin: 1px;
}

.letter-query button,
.letter-query button:hover,
.constraint button,
.constraint button:hover {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 16px;
    border-radius: 12px;
    background: none;
    color: #f08;
    transform: none;
    padding: 0;
    margin: 0 -10px 0 2px;
    outline: 1px solid #f08;
    outline-offset: -2px;
}
.letter-query button:focus,
.constraint button:focus {
    color: white;
    background: #f08;
}