button {
    border: 0;
    width: fit-content;
    padding: 5px 15px;
    background-color: #08f;
    border-radius: 35px;
    color: white;
    transition: transform .2s;
    transform: scale(1);
}
button:hover {
    transform: scale(1.1);
}
button.play-button::after {
    content: '|>';
    font-family: "JetBrains Mono", sans-serif;
}


.select-container {
    position: relative;
    display: inline-flex;
    width: fit-content;
    border-radius: 16px;
    background: linear-gradient(80deg, #0f8 0%, #0bf 30%, #08f 50%, #f08 100%);
    color: white;
    user-select: none;
}
.select-container input[type=radio] {
    display: none;
    appearance: none;
    -webkit-appearance: none;
}
.select-container label {
    display: inline-block;
    width: 24px;
    text-align: center;
    margin: 3px 10px;
}

.select-container span:last-child {
    position: absolute;
    display: block;
    width: 44px; height: 100%;
    outline: 2px solid white;
    border-radius: 16px;
    outline-offset: -4px;
    left: 0;
    transition: left .25s;
}

.select-container input:checked +*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+ span:last-child { left: 44px }
.select-container input:checked +*+*+*+*+*+*+*+*+*+*+*+*+*+ span:last-child { left: 88px }
.select-container input:checked +*+*+*+*+*+*+*+*+*+*+*+ span:last-child { left: 132px }
.select-container input:checked +*+*+*+*+*+*+*+*+*+ span:last-child { left: 176px }
.select-container input:checked +*+*+*+*+*+*+*+ span:last-child { left: 220px }
.select-container input:checked +*+*+*+*+*+ span:last-child { left: 264px }
.select-container input:checked +*+*+*+ span:last-child { left: 308px }
.select-container input:checked +*+ span:last-child { left: 352px }


label.toggle {
    display: flex;
    align-items: center;
    justify-content: start;
    user-select: none;
}

label.toggle>input[type=checkbox] {
    display: none;
    appearance: none;
    -webkit-appearance: none;
}

label.toggle>span.toggle-switch {
    display: inline-block;
    width: 48px;
    height: 24px;
    border-radius: 12px;
    background-color: gray;
    margin-right: 12px;
    position: relative;
    transition: background-color .25s;
}

label.toggle>input[type=checkbox]:not(:checked)~span[data-switch-off]::after {
    content: attr(data-switch-off);
}
label.toggle>input[type=checkbox]:checked~span[data-switch-on]::after {
    content: attr(data-switch-on);
}

label.toggle>span.toggle-switch::after {
    position: absolute;
    content: "";
    display: block;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-color: white;
    transition: left .25s;
}

label.toggle>input:checked + span.toggle-switch { background: #08f }

label.toggle>input:checked + span.toggle-switch::after { left: 26px }